

/* .area_principal {
    color: black;
    background-color: black;
    display: flex;
	align-items: center;
	gap: 30px;
    min-height: calc(100vh - 152px);
    justify-content: center;
} */



.area_login{
    display: flex;
	align-items: center;
	gap: 30px;
    min-height: calc(100vh - 152px);
    justify-content: center;
    
   
}

.area_login .area_principal_login{
    gap: 30px;
    display: flex;
    flex-direction: column;
	align-items: center;
    width: 350px;
    height: 450px;
    border: solid 1px;
    border-radius: 10px;
    border-color: black;
    justify-content: center;
    
    
}

.area_login .area_principal_login .formulario{
    gap: 30px;
    
    
    
}

.area_rodape{
    
    display: flex;
    flex-direction: column;
	align-items: center;
	justify-content: center;
    
}

/* .rodape{
    
    display: flex;
    align-items: center;
    border: solid 1px;
    border-radius: 10px;
    background-color: black;
    border-color: black;
    justify-content: center;
} */

.area_rodape .dentro_rodape{
    width: 1000px;
    height: 80px;
    gap: 500px;
    display: flex;
    flex-direction: row;
	align-items: center;
    /* border: solid 1px;
    border-radius: 10px; */
    border-color: black;
    justify-content: center;
    /* background-color: blue; */
    
}

.area_rodape .direitos{
    width: 1000px;
    height: 40px;
    display: flex;
    /* border: solid 1px;
    /* border-radius: 10px;
    border-color: black; */
    justify-content: center;
    align-items: center;
    /* background-color: red; */
}

/* .area_rodape .dentro_rodape .diretos{
    display: flex;
    width: 1000px;
    height: 120px;
    border: solid 1px;
    border-radius: 10px;
    border-color: black;
    justify-content: center;
    background-color: black;
} */
